@charset "utf-8";
/*
Name: Carousel stylesheet
Description: Стили для "карусели" изображений.
Created: August 2010
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

/* ----- carousel ----- */

.carousel {
    margin: 0 auto;
}
.carousel .next_control, .carousel .previous_control {
    left: 0;
    width: 14px;
    height: 20px;
    margin-top: -10px;
    outline: 0;
}
.carousel .next_control {
    left: -14px;
    margin-left: 100%;
}
.carousel .previous_control {
    background-position: -32px -92px;
}
.carousel .next_control {
    background-position: -48px -92px;
}
.carousel .previous_control i {
    _top: -92px;
    _left: -32px;
}
.carousel .next_control i {
    _top: -92px;
    _left: -48px;
}
.carousel_viewbox {
    border-left: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
}
.carousel_viewbox.small .item {
    width: 100px;
    height: 50px;
    font-size: 30px;
}
.carousel_viewbox.big .item {
    width: 500px;
    height: 200px;
    font-size: 120px;
}
.carousel .item.active {
    background: #fdd34e;
}
.carousel .viewbox a:link, .carousel .viewbox a:visited, .carousel .viewbox a:hover, .carousel .viewbox a:active {
    text-decoration: none;
    outline: 0;
}

.icon, .icon8x12, .icon12x12, .icon16x16, .icon20x20, .icon24x24, .icon32x32 {
    background: url("common_icons.png") no-repeat scroll 100px 100px transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
/* ----- /carousel ----- */
